.main {
  max-width: 100vw;
}


.user-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &__name {
    font-size: 1.2em;
    margin-right: 20px;

    span {
      font-weight: bold;
      color: violet;
    }
  }

  &__logout {
    font-size: 1.7em;
    cursor: pointer;
    z-index: 10;

    @media screen and (max-width: 770px) {

      font-size: 1.8em;
    }
  }

  @media screen and (max-width: 770px) {
    font-size: .6em;
    color: white;
  }
}