.task-container {
  width: 100%;
  max-height: 60px;
  background-color: #ffffff;
  padding: 0 .2em 0 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(194, 193, 193, 0.514);
  transition: all .3s ease;

  @media screen and (max-width: 1500px) {
    max-height: 70px;
  }

  @media screen and (max-width: 770px) {
    background-color: rgb(61, 61, 61);
  }

  @media screen and (max-width: 500px) {
    padding-right: 30px;
  }

  &__task-text {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: pointer;

    p {
      margin-left: 20px;
      font-size: .9em;
      font-weight: 540;
      letter-spacing: 1px;
      transition: all .3s ease;
      margin-bottom: 0;

      @media screen and (max-width: 1500px) {
        font-size: 1¡.9em;
      }

      &.completed {
        text-decoration: line-through;
        opacity: .4;
        font-size: .8em;
      }
    }

    &.no-cursor {
      cursor: initial;
    }

    .mark {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid rgba(184, 184, 184, 0.63);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;


      &.completed {
        width: 20px;
        height: 20px;
        border: none;
        background: rgb(219, 0, 226);
        background: linear-gradient(90deg, rgba(219, 0, 226, 1) 0%, rgba(0, 191, 230, 1) 100%);
      }

      &__completed {
        width: 70%;
        height: 70%;
        color: white;
      }
    }
  }

  &__icons-container {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

    &--task-icon {
      opacity: .3;
      width: 20px;
      height: 20px;
      margin: 15px;
      transition: all .6s ease;
      transition: visibility 0s;
      cursor: pointer;

      &.no-visible {
        visibility: hidden;
      }

      @media screen and (max-width: 1500px) {
        width: 20px;
        height: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    background-color: rgba(255, 170, 245, 0.37);

    &.no-hover {
      background-color: inherit;
    }

    @media screen and (max-width: 1500px) {
      background-color: inherit;
    }
  }

  &:last-child {
    border-bottom: 1px solid rgba(194, 193, 193, 0.514);
  }

}