@use "./form";
@use "./wish";


.wish-list {
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  top: 10vh;
  height: 100%;
  width: 100%;

  &__title {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 30px;
    color: white;
    letter-spacing: 4px;

    @media screen and (max-width: 770px) {
      display: none;
    }

    @media screen and (max-width: 450px) {
      font-size: 2.6em;
    }
  }

  &__main {
    width: 30%;
    min-width: 700px;
    height: 60vh;
    min-height: 400px;
    background-color: #fff;
    margin: 10px;
    padding-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0 0 40px 10px rgba(189, 189, 189, 0.425);
    overflow: hidden;
    overflow-y: visible;

    @media screen and (max-width: 1500px) {
      min-height: 90%;
    }

    @media screen and (max-width: 770px) {
      min-width: 95vw;
      width: 95vw;
      margin: 0;
      min-height: 90vh;
      background-color: rgb(61, 61, 61);
      color: white;
      box-shadow: none;
      text-align: center;
    }

    @media screen and (max-width: 420px) {
      min-width: 95vw;
      width: 95vw;
      margin: 0;
    }

    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .filter {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 1.2em;
      margin-top: auto;

      @media screen and (max-width: 770px) {
        flex-flow: column wrap;
      }

      &__items {
        width: auto;
        text-align: left;
        font-weight: 550;
        font-size: .9em;
        opacity: .7;

        @media screen and (max-width: 770px) {
          margin-bottom: 10px;
        }
      }

      &__type {
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 770px) {
          margin-bottom: 10px;
        }

        a {
          transition: all .5s ease;
          cursor: pointer;
          margin-right: 20px;
          color: black;
          font-weight: 550;
          font-size: .9em;
          opacity: .7;

          @media screen and (max-width: 320px) {
            font-size: .9em;
          }

          &:hover {
            opacity: 1;
          }

          &:last-child {
            margin: 0;
          }

          &.show {
            color: rgb(101, 101, 255);
          }

          &.not-empty {
            color: red;
          }

          @media screen and (max-width:770px) {
            color: white;
            opacity: 1;
            font-weight: 300;
            font-size: medium;
          }
        }
      }

      &__clear {
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: .9em;
        transition: all .3s ease-in-out;

        p {
          transition: all .3s ease;
          cursor: pointer;
          margin-right: 20px;
          font-weight: 550;
          opacity: .7;

          @media screen and (max-width: 320px) {
            font-size: .9em;
          }

          &:hover {
            opacity: 1;
          }

          &:last-child {
            margin: 0;
          }

          @media screen and (max-width:770px) {
            color: white;
            opacity: 1;
            font-weight: 300;
            font-size: small;
          }
        }

        svg {
          font-size: 1.2em;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1500px) {
    top: 2vh;
  }

  @media screen and (max-width: 770px) {
    top: 0;
    margin-bottom: 10px;
  }
}