@use "../../abstracts/variables" as var;

.form {
  width: 40%;
  min-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 770px) {
    width: 95vw;
    min-width: 95vw;
  }

  &__input {
    width: 100%;
    font-size: 1.3em;
    font-weight: 500;
    background-color: white;
    padding: 24px 42px 24px 42px;
    border-radius: 6px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    color: rgb(70, 69, 69);
    letter-spacing: 1.5px;

    @media screen and (max-width: 770px) {
      margin: 20px 0;
      width: 95vw;
      background-color: rgb(61, 61, 61);
      color: white !important;
      
    }
  }
}