@use "../../abstracts/variables" as var;

.form {
  width: 40%;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__input {
    width: 100%;
    font-size: 1.3em;
    font-weight: 500;
    background-color: white;
    padding: 24px 42px 24px 42px;
    border-radius: 4px 0 0 4px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    color: rgb(70, 69, 69);
    letter-spacing: 1.5px;

    @media screen and (max-width: 510px) {
      margin-bottom: 20px;
      width: 95%;
    }
  }


  @media screen and (max-width: 510px) {
    flex-wrap: wrap;
    flex-flow: column wrap;
  }
}