@use "../../abstracts/variables" as var;

.task-container {
  width: 100%;
  height: 100px;
  max-height: 100px;
  background-color: #ffffff;
  padding: .3em .3em .3em 1.3em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(194, 193, 193, 0.514);
  transition: all .3s ease;

  @media screen and (max-width: 1500px) {
    max-height: 70px;
  }

  &__task-text {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: pointer;

    p {
      margin-left: 20px;
      font-size: 1.5em;
      font-weight: 540;
      letter-spacing: 1px;
      transition: all .3s ease;

      @media screen and (max-width: 1500px) {
        font-size: 1.2em;
      }

      &.completed {
        text-decoration: line-through;
        opacity: .4;
        font-size: 1.1em;
      }
    }

    &.no-cursor {
      cursor: initial;
    }

    .mark {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid rgba(184, 184, 184, 0.63);
      display: flex;
      justify-content: center;
      align-items: center;


      &.completed {
        width: 25px;
        height: 25px;
        border: none;
        background: rgb(219, 0, 226);
        background: linear-gradient(90deg, rgba(219, 0, 226, 1) 0%, rgba(0, 191, 230, 1) 100%);
      }

      &__completed {
        width: 70%;
        height: 70%;
        color: white;
      }
    }
  }

  &__icons-container {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

    &--task-icon {
      opacity: .3;
      width: 30px;
      height: 30px;
      margin: 5px;
      transition: all .5s ease;
      cursor: pointer;

      @media screen and (max-width: 1500px) {
        width: 20px;
        height: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    background-color: rgba(255, 170, 245, 0.37);

    &.no-hover {
      background-color: inherit;
    }

    @media screen and (max-width: 1500px) {
      background-color: inherit;
    }
  }

  &:last-child {
    border-bottom: 1px solid rgba(194, 193, 193, 0.514);
  }

}