@use "../../abstracts/variables" as var;
@use "./form";
@use "./task";


.wish-list {
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  top: 15vh;

  &__title {
    font-size: 4em;
    font-weight:  lighter;
    margin-bottom: 30px;
    color: white;
    letter-spacing: 4px;
  }

  &__main {
    width: 40%;
    min-height: 60vh;
    background-color: #fff;
    margin: 10px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 40px 10px rgba(189, 189, 189, 0.425);

    @media screen and (max-width: 768px) {
      width: 100vw;
      min-height: 100vh;
      margin: 0;
    }

    @media screen and (max-width: 420px) {
      width: 100vw;
      min-height: 100vh;
      margin-bottom: 0;
    }

    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}