* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color:#ffffff;
  font-family: Lato, sans-serif;
  color: white;
  margin-top: 20px;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo de freecodecamp */

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo {
  width: 300px;
  height: 30px;
}

/* Lista de Tareas */

h1 {
  color: white;
  font-size: 25px;
  font-family: Comforta, sans-serif;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #373940;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.788);
}

@media screen and (max-width: 768px) {
  .tareas-lista-principal {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
  }
  .aplicacion-tareas {
    min-height: 100vh;
    margin-top: 0;
  }
  body, html {
    overflow: hidden;
    margin-top: 0;
  }
}
@media screen and (max-width: 420px) {
  .tareas-lista-principal {
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 0;
  }
  .aplicacion-tareas {
width: 100%;
min-height: 100vh;
  }
}