@use "./components/tasks/task-list";
@use "./components/cover";
@use "./abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial;

  @media screen and (max-width: 768px) {
    overflow: hidden;
    margin-top: 0;
  }
}