@use "./components/tasks/task-list";
@use "./components/cover";
@use "./components/page404";
@use "./abstracts/variables";
@use "./components/main";
@use "./components/login";
@use "./components/search";
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial;

  @media screen and (max-width: 768px) {
    overflow: hidden;
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  color: black;
}